.navbar {
    background-color: white;
    border-radius: 0.5rem;
    font-family: 'DaysOne';
    color: var(--blue);
    padding: 0.5rem 1rem;
    display: flex;
}

.navbar__btn {
    margin-left: 1rem;
}
