.book-item {
    display: flex;
    margin: .5rem 0;
    color: var(--dark-blue);
    border: 1px solid transparent;
    border-radius: .5rem;
    background: rgb(220,220,220);
    background: linear-gradient(308deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 50%); 
}

.book-item:hover {
    border: 1px solid var(--blue);
    /* transition: 0.1s; */
}

.book-item__field {
    flex: 1;
    padding: .5rem .5rem .2rem .5rem;
}